@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --palette-neon-orchid: #d9a0cf;
  --palette-opera-mauve: #bf88b0;
  --palette-lavender-pulse: #9a75bf;
  --palette-twilight-indigo: #55468c;
  --palette-lapis-night: #0e3a73;

  --palette-seashell: #f1f0f2;
  --palette-woodsmoke: #0b0c0d;
}

@theme inline {
  --color-seashell: var(--palette-seashell);
  --color-woodsmoke: var(--palette-woodsmoke);
  --color-orchid: var(--palette-neon-orchid);
  --color-mauve: var(--palette-opera-mauve);
  --color-lavender: var(--palette-lavender-pulse);
  --color-twilight: var(--palette-twilight-indigo);
  --color-lapis: var(--palette-lapis-night);

  --color-bg: var(--palette-seashell);
  --color-fg: var(--palette-twilight-indigo);
  --color-text: var(--palette-woodsmoke);

  --color-accent: var(--palette-neon-orchid);
  --color-accent-alt: var(--palette-lavender-pulse);
  --color-accent-contrast: var(--palette-seashell);

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --color-bg-muted: color-mix(in srgb, var(--palette-seashell) 85%, white 15%);
  --color-fg-muted: color-mix(
    in srgb,
    var(--palette-twilight-indigo) 70%,
    black 30%
  );
  --color-border: color-mix(
    in srgb,
    var(--palette-pickled-bluewood) 75%,
    white 25%
  );

  --font-sans: "Rubik", sans-serif;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-sans);
}
